@use '../variables' as V;

.container {
    width: 100%;
    height: auto;
    background-color: V.$black;
    color: white;
    margin-top: -96px;
    display: flex;
    align-items: center;
}

.imgContainer {
   
}

.imgContainerTablet {
    display: none;
}

.imgContainerMobile {
    display: none;
}

.textContainer {
    position: absolute;
    z-index: 2;
    width: 400px;
    height: auto;
    border: 1px solid red;
}

