@use '../variables' as V;

.container {
    width: 100%;
    height: auto;
    background-color: V.$black;
    color: white;
    margin-top: 0px;
    display: flex;
    align-items: center;
}

.imgContainerTablet {
    display: none;
}

.imgContainerMobile {
    display: none;
}



.textContainer {
    position: absolute;
    margin-top: 3.5rem;
    z-index: 2;
    width: 400px;
    height: 350px;
    margin-left: 11%;
    span {
        color: #949494;
        letter-spacing: 7.5px;
    }
    h1 {
        margin-top: 1rem;
        color: V.$white;
        font-size: 3.5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    p {
        width: 90%;
        color: #949494;
        font-weight: 300;
        line-height: 1.5;
        margin-top: -1rem;
        margin-bottom: 3.5rem;
    }
    a {
        background-color: V.$orange;
        padding: 1rem 1.5rem;
        width: 160px;
        height: 48px;
        font-size: .9rem;
        letter-spacing: 1px;
    }
    a:hover {
        cursor: pointer;
        background-color: V.$lightOrange;
    }
}

@media only screen and (max-width: 1000px)  {
    .imgContainer {
        display: none;
    }
    .imgContainerTablet {
        display: block;
    }
    .textContainer {
        margin-top: 3rem;
        border: 1px solid red;
        margin-left: calc(50% - 200px);
        text-align: center;
        span {
            font-weight: 100;
        }
        h1 {
            line-height: 1.25;
        }
        p {
           margin: -1rem auto 3rem auto;
        }
    }
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 0 auto 5rem auto;
        
    }
    .imgContainerTablet {
        display: none;
    }
    .imgContainerMobile {
        display: block;
    }
    .textContainer {
        h1 {
            font-size: 2.25rem;
            margin: 1rem auto 2rem auto;
        }
        p {
            margin: -1rem auto 3rem auto;
            width: 80%;
         } 
    }
}

@media only screen and (max-width: 450px) {
    .textContainer {
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 325px)  {
    .textContainer {
        margin-top: 5.5rem;
        h1 {
        font-size: 1.75rem;
        }
    }
    
}


