@use '../variables' as V;


.midImgContainer {
    margin: 2.5% auto;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    .imgContainer {
        img {
            border-radius: 10px;
        }
    }
    .imgContainerTablet {
        display: none;
    }
    .imgContainerMobile {
        display: none;
    }
    .midTextContainer {
        border: 1px solid red;
        height: 118px;
        width: auto;
        position: absolute;
        left: 8.5%;
        top: 27.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
            width: 100%;
            margin-top: 0;
            letter-spacing: 2px;
            font-size: 1.75rem;
        }
        a {
        border: 1px solid black;
        padding: 1rem 1.5rem;
        width: 160px;
        height: 48px;
        font-size: .9rem;
        letter-spacing: 1px;
        }
        a:hover {
        cursor: pointer;
        color: V.$white;
        background-color: V.$black;
        }  
    }
}

@media only screen and (max-width: 900px) {
    .midImgContainer {
        margin: 3.5% auto;
        .imgContainer {
            display: none;
        }
        .imgContainerTablet {
            display: flex;
            img {
                width: 900px;
                height: auto;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .midImgContainer {
        .imgContainerTablet {
            display: none;
        }
        .imgContainerMobile {
            display: flex;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}