@use '../variables' as V;

.container {
    width: 78%;
    height: auto;
    margin: 0 auto;
    border: 1px solid silver;
}

.topImgContainer {
    width: 100%;
    height: 560px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    background-color: V.$orange;
    .imgContainer {
        position: absolute;
        margin-left: 10%;
        margin-top: 7rem;
        z-index: 2;
        width: 34%;
        height: auto;
        
    }

    .imgContainerTablet {
    display: none;
    }

    .imgContainerMobile {
    display: none;
    }
    .circle {
        position: absolute;
        z-index: 1;
        margin-left: -15%;
    }
    .textContainerTop {
        width: 350px;
        height: 303px;
        position: absolute;
        right: 8%;
        top: 25%;
        color: V.$white;
        h1 {
            margin-top: -1rem;
            color: V.$white;
            font-size: 3.5rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 500;
        }
        p {
            width: 100%;
            font-weight: 300;
            line-height: 1.5;
            margin-top: -1rem;
            margin-bottom: 3.5rem;
        }
        a {
            position: relative;
            z-index: 3;
            background-color: V.$black;
            padding: 1rem 1.5rem;
            width: 160px;
            height: 48px;
            font-size: .9rem;
            letter-spacing: 1px;
        }
        a:hover {
            cursor: pointer;
            background-color: V.$gray;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .topImgContainer {
        height: 720px;
        display: flex;
        justify-content: center;
        .imgContainer {
            display: none;
        }
        .imgContainerTablet {
            display: block;
            position: absolute;
            z-index: 2;
            margin-top: 3rem;
            height: auto;
            img {
                width: 200px;
                height: auto;
            }
        }
        .circle {
            position: absolute;
            z-index: 1;
            margin-top: -30%;
            margin-left: 0%;
        }
        .textContainerTop {
          margin-top: 25%;
          right: calc(50% - 175px);
          text-align: center;
          h1 {
              line-height: 1;
              margin-top: 0;
          }
        }
    }
}

@media only screen and (max-width: 750px) {
    .topImgContainer {
        .textContainerTop {
            margin-top: 32.5%;
        }
    }
}

@media only screen and (max-width: 500px) {
    .topImgContainer {
        height: 600px;
        .imgContainerTablet {
            display: none;
        }
        .imgContainerMobile {
            display: block;
            margin: 3rem auto;
            position: absolute;
            z-index: 2;
            img {
                width: 172px;
                height: auto;
            }
        }
        .circle {
            position: absolute;
            z-index: 1;
            width: 120%;
            margin-top: -25%;
            margin-left: 0%;
        }
        .textContainerTop {
            width: 100%;
            right: 0;
            top: 28%;
            h1 {
                font-size: 2.5rem;
                width: 50%;
                margin: 0 auto 2rem auto; 
            }
            p {
                width: 80%;
                margin: 0 auto 2rem auto;
            } 
        }
    }
}


 @media only screen and (max-width: 325px) {
        .topImgContainer {
            .textContainerTop {
                top: 35%;
                h1 {
                    font-size: 2rem;
                    margin-top: 1rem;
                }
                p {
                    width: 90%;
                }
            }
        }
    }





