.container {
    width: 78%;
    height: auto;
    margin: 0 auto 200px auto;
    border: 1px solid red;
}

@media only screen and (max-width: 900px) {
    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        margin-top: 5rem;
    }
}

