@use '../variables' as V;

.container {
    border: 1px solid red;
    width: 65%;
    height: 100%;
    background-color: V.$white;
}

.h1 {
    border: 1px solid blue;
}

.billingFlexContainer {
    border: 1px solid green;
}

.shippingFlexContainer {
    border: 1px solid gold;
}

.paymentFlexContainer {
    border: 1px solid orange;
}

.paymentSelect {
    border: 1px solid red;

}

.emoney {
    background-color: red;
}

.cod {
    background-color: purple;
}

.emoneyContainer {
    background-color: green;
}

.codContainer {
    background-color: yellow;
}