
@use 'variables' as V;

.container {
    width: 78%;
    height: 600px;
    margin: 0 auto 200px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: V.$manrope;
}

.textContainer {
    width: 42.5%;
    h2 {
        font-size: 2.5rem;
        letter-spacing: 2px;
        line-height: 1;
        color: V.$black;
        text-transform: uppercase;
        span {
            color: V.$orange;
    }  
    }
    p {
        color: #888888;
        line-height: 1.5;
    }
    
}

.imgContainer {
    width: 50%;
    img {
        border-radius: 5px;
    }
}

.imgContainerTablet {
    display: none;
    width: 50%;
    img {
        border-radius: 5px;
    }
}

.imgContainerMobile {
    display: none;
    width: 50%;
    img {
        border-radius: 5px;
    }
}

@media only screen and (min-width: 1440px){
    .container {
        max-width: 1440px;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        width: 90%;
        flex-direction: column-reverse;
        margin-bottom: 150px;
    }
    .imgContainer {
        display: none;
    }

    .imgContainerTablet {
        display: flex;
        justify-content: center;
        width: 100%;
        img {
            border-radius: 10px;
        }
    }

    .textContainer {
        width: 90%;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        margin: 100px auto 200px auto;
    }
}

@media only screen and (max-width: 450px) {
    .container {
        margin: 200px auto 100px auto;
    }
    .imgContainerTablet {
        display: none;
    }

    .textContainer {
        h2 {
            font-size: 2rem;
            line-height: 1.5;
        }
    }

    .imgContainerMobile {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        img {
            width: 150%;
        }
    }
}

@media only screen and (max-width: 375px) {
    .container {
        margin: 200px auto 100px auto;
    }

    .textContainer {
        h2 {
            font-size: 1.75rem;
        }
        p {
            font-size: .9rem;
        }
    }
}

