@use 'variables' as V;

.container {
    background-color: V.$white;
    display: block;
    width: 377px;
    height: auto;
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    right: 11%;
    top: 7.5rem;
    padding-bottom: 2rem;
}

.topCartContainer {
    width: 85%;
    height: 25px;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
        display: inline-block;
        font-size: 1.25rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    h3 {
        display: inline-block;
        color: V.$slate;
        font-weight: 100;
        font-size: 1rem;
        text-decoration: underline;
    }
    h3:hover {
        cursor: pointer;
    }
}

.itemContainer {
    width: 85%;
    height: 64px;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftContainer {
    width: 200px;
    height: 64px;
    display: flex;
    flex-direction: row;
    .textContainer {

        display: flex;
        flex-direction: column;
        width: 60%;
        height: 64px;
        justify-content: center;
        align-items: flex-start;
        
        h4 {
            margin: 0rem auto;
            width: 100%;
            margin-left: 1rem;
            font-size: 1rem;
        }
        .name {
            color: V.$black;
        }
        .price {
            color: V.$slate;
            font-size: .9rem;
        }
    }
}

.imgContainer {
    width: 64px;
    height: auto;
    .img {
        border-radius: 5px;
    }
}

.rightContainer {
    width: 100px;
    height: auto;
    .quantityBox {
        background-color: V.$silver;
        width: 96px;
        height: 32px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .75rem;
        .plus {
            color: #979797;
        }
        .plus:hover {
            color: V.$orange;
            cursor: pointer;
        }
        .minus {
            color: #979797;
        }
        .minus:hover {
            color: V.$orange;
            cursor: pointer;
        }
        .quantity {
            font-size: .9rem;
        }
    }
}

.bottomTextContainer {
    width: 85%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .total {
        color: V.$slate;
        font-weight: 400;
        text-transform: uppercase;
        font-size: .9rem;
    }
    .totalPrice {
        font-weight: 600;
    }
}

.buttonBox {
    width: 85%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    a {
        color: V.$white;
        background-color: V.$orange;
        padding: 1rem 1.5rem;
        width: 100%;
        height: 48px;
        font-size: .9rem;
        letter-spacing: 1px;
    }
    a:hover {
        cursor: pointer;
        background-color: V.$lightOrange;
    }
}

@media only screen and (max-width: 500px) {
        .container {
            width: 90%;
            right: 5%;
        }
}

@media only screen and (max-width: 325px) {
    .rightContainer {
        width: 75px;
        .quantityBox {
            width: auto;
        }
    }
}

@media only screen and (max-width: 300px) {
    .container {
        width: 95%;
        right: 2.5%;
    }
    .topCartContainer {
        width: 90%;
    }
    .itemContainer {
        width: 90%;
    }
    .leftContainer {
        .textContainer {
        h4 {
            font-size: .85rem;
        }
        .price {
            font-size: .85rem; 
        }
    }
    } 
    .bottomTextContainer {
        width: 90%;
    }
    .buttonBox {
        width: 90%;
    }
    
}