@use 'variables' as V;

.container {
    width: 100%;
    height: 335px;
    background-color: V.$black;
    color: white;
    display: flex;
    align-items: center;
    h1 {
        margin: 5rem auto 0 auto;
        letter-spacing: 2px;
        font-size: 2.5rem;
        font-weight: 500;
    }
}