@use 'variables' as V;

.container {
    border-bottom: 1px solid #979797;
    width: 78%;
    height: 96px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: V.$darkGrey;
    justify-content: space-between;
    font-family: V.$manrope;
}

.leftFlexContainer {
    width: auto;
    height: auto;
    .hamburger {
    display: none;
    }
}

.rightFlexContainer {
    .cartLogo:hover {
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(64%) sepia(30%) saturate(1546%) hue-rotate(329deg) brightness(92%) contrast(83%);
    }
}

.nav {
    color: V.$white;
    width: 430px;
    display: flex;
    justify-content: space-between;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: 1px;
    a:hover {
        cursor: pointer;
        color: V.$orange;
    }
}