@use 'variables' as V;

.container {
    border: 1px solid red;
    margin: 7.5rem auto;
    width: 78%;
    height: 284px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selectionBox {
    width: 31%;
    height: 100%;
}

.grayBacking {
    margin-top: 75px;
    width: 100%;
    height: 205px;
    background-color: V.$silver;
    border-radius: 5px;
}

.foregroundFlexContainer {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    margin-top: -250px;
    text-align: center;
    h3 {
        font-weight: 500;
        letter-spacing: 1px;
        margin-top: 1.5rem;
        

    }
    h4 {
        margin-top: 0;
        font-weight: 500;
        font-size: .8rem;
        letter-spacing: 1px;
        color: #797979;
    }
    h4:hover {
        cursor: pointer;
        color: V.$orange;
    }
}

.imgContainer {
        margin-top: -35px;
        height: 160px;
        width: auto;   
}

@media only screen and (max-width: 900px) {
    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        height: 217px;
    }
    .selectionBox {
        width: 32%;
    }

    .grayBacking {
        margin-top: 50px;
        height: 165px;
    }

    .imgContainer {
        width: auto;
        height: 120px;
        margin-top: 35px;
        img {
            width: 160px;
            height: 140px;
        }
    }

    .foregroundFlexContainer {
        h3 {
            font-weight: 600;
            letter-spacing: 1px;
            margin-top: 1.25rem;
            font-size: 1rem;
        }
        h4 {
            margin-top: -.25rem;
            font-weight: 600;
            font-size: .8rem;
            letter-spacing: 1.5px;
        }
}
}

@media only screen and (max-width: 500px) {
    .container {
        border: 1px solid purple;
        flex-direction: column;
        height: max-content;
        margin: 0 auto 0 auto;
        
    }

    .selectionBox {
        border:  1px solid green;
        width: 100%;
        margin: 1rem auto;
    }
}

@media only screen and (max-width: 325px) {
    .container {
        border: 1px solid purple;
        flex-direction: column;
        height: max-content;
        margin: 5rem auto 20rem auto;
    }
}




