
@use 'variables' as V; 

.container {
    background-color: V.$white;
    display: block;
    width: 540px;
    height: auto;
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    right: 30%;
    top: 10rem;
    padding-bottom: 3rem;
    .svg {
        filter: brightness(0) saturate(100%) invert(64%) sepia(30%) saturate(1546%) hue-rotate(329deg) brightness(92%) contrast(83%);
    }
    p {
        color: V.$gray;
        font-size: .9rem;
        font-weight: 100;
    }
}

.topContainer {
    width: 82.5%;
    height: 250px;
    margin: 3rem auto 0 auto;
}

.middleContainer {
    width: 82.5%;
    height: auto;
    margin: 1rem auto 3rem auto;
    display: flex;
    flex-direction: row;
}

.leftContainer {
    background-color: V.$silver;
    width: 55%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    .toggleContainer {
        border-top: 1px solid rgba(226,226,226, 1);
        width: 80%;
        margin: 0 auto;
        h4 {
            color: V.$slate;
            text-align: center;
            font-size: .8rem;
            font-weight: 500;
        }
        h4:hover {
            cursor: pointer;
        }
    }
}



.rightContainer {
    background-color: V.$black;
    width: 45%;
    height: auto;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .totalContainer {
        width: 70%;
        padding-bottom: 1rem;
        margin: 0 auto;
        p {
            color: V.$slate;
            font-weight: 500;
            margin-bottom: -.5rem;
            font-size: 1rem;
        }
        h3 {
            color: white;
        }
    }
}

.buttonBox {
    width: 82.5%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    a {
        color: V.$white;
        background-color: V.$orange;
        padding: 1rem 1.5rem;
        width: 100%;
        height: 48px;
        font-size: .9rem;
        letter-spacing: 1px;
    }
    a:hover {
        cursor: pointer;
        background-color: V.$lightOrange;
    }
}