
@use 'variables' as V; 

.container {
    background-color: V.$white;
    border: 1px solid red;
    display: block;
    width: 540px;
    height: 500px;
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    right: 30%;
    top: 10rem;
    padding-bottom: 2rem;
}