@use '../variables' as V;

.container {
    font-family: V.$manrope;
    width: 78%;
    height: auto;
    margin: 7.5rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftContainer {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topLeftContainer {
    
    .imgContainer {
        .img {
            border-radius: 7.5px;
        }
    }
    .imgContainerTablet {
        display: none;
        .img {
            border-radius: 7.5px;
        }
    }
    .imgContainerMobile {
        display: none;
        .img {
            border-radius: 7.5px;
        }
    }
}

.bottomLeftContainer {
    .imgContainer {
        .img {
            border-radius: 7.5px;
        }
    }
    .imgContainerTablet {
        display: none;
        .img {
            border-radius: 7.5px;
        }
    }
    .imgContainerMobile {
        display: none;
        .img {
            border-radius: 7.5px;
        }
    }
}

.rightContainer {
    width: 57%;
    .imgContainer {
        .img {
            border-radius: 7.5px;
        }
    }
    .imgContainerTablet {
        display: none;
        .img {
            border-radius: 7.5px;
        }
    }
    .imgContainerMobile {
        display: none;
        .img {
            border-radius: 7.5px;
        }
    }
}

@media only screen and (max-width: 900px) {
    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .topLeftContainer {
        .imgContainer {
            display: none;
        }
        .imgContainerTablet {
            display: flex;
            .img {
                border-radius: 7.5px;
            }
        }
    }
    .bottomLeftContainer {
        .imgContainer {
            display: none;
        }
        .imgContainerTablet {
            display: flex;
            .img {
                border-radius: 7.5px;
            }
        }
    }
    .rightContainer {
        .imgContainer {
            display: none;
        }
        .imgContainerTablet {
            display: flex;
            .img {
                border-radius: 7.5px;
            }
        }
    }

}

@media only screen and (max-width: 500px) {
    .container {
        flex-direction: column;
    }

    .leftContainer {
        width: 100%;
    }
    .topLeftContainer {
        margin: 0rem auto 1rem auto;
        .imgContainerTablet {
            display: none;
        }
        .imgContainerMobile {
            display: flex;
            .img {
                border-radius: 7.5px;
            }
        }
    }
    .bottomLeftContainer {
        margin: 0rem auto 1rem auto;
        .imgContainerTablet {
            display: none;
        }
        .imgContainerMobile {
            display: flex;
            .img {
                border-radius: 7.5px;
            }
        }
    }
    .rightContainer {
        width: 100%;
        .imgContainerTablet {
            display: none;
        }
        .imgContainerMobile {
            display: flex;
            .img {
                border-radius: 7.5px;
            }
        }
    }
}