@use '../variables' as V;

.container {
    border: 1px solid red;
    font-family: V.$manrope;
    width: 78%;
    height: auto;
    margin: 7.5rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftContainer {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topLeftContainer {
    
    .imgContainer {
        .img {
            border-radius: 7.5px;
        }
    }
    .imgContainerTablet {
        display: none;
        .img {
            border-radius: 7.5px;
        }
    }
    .imgContainerMobile {
        display: none;
        .img {
            border-radius: 7.5px;
        }
    }
}

.bottomLeftContainer {
    .imgContainer {
        .img {
            border-radius: 7.5px;
        }
    }
    .imgContainerTablet {
        display: none;
        .img {
            border-radius: 7.5px;
        }
    }
    .imgContainerMobile {
        display: none;
        .img {
            border-radius: 7.5px;
        }
    }
}

.rightContainer {
    width: 57%;
    .imgContainer {
        .img {
            border-radius: 7.5px;
        }
    }
    .imgContainerTablet {
        display: none;
        .img {
            border-radius: 7.5px;
        }
    }
    .imgContainerMobile {
        display: none;
        .img {
            border-radius: 7.5px;
        }
    }
}