@use '../variables' as V;

.container {
    font-family: V.$manrope;
    width: 78%;
    height: auto;
    margin: 10rem auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.headline {
    width: 100%;
    height: auto;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 auto 5rem auto;
}

.productFlexContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productBox {
    width: 31.25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .imgContainerTablet {
        display: none;
    }
    .imgContainerMobile {
        display: none;
    }
    a {
            
        color: V.$white;
        position: relative;
        z-index: 3;
        background-color: V.$orange;
        padding: 1rem 1.5rem;
        width: 160px;
        height: 48px;
        font-size: .9rem;
        font-weight: 500;
        letter-spacing: 1px;
        margin: 0 auto;
    }
    a:hover {
        cursor: pointer;
        background-color: V.$lightOrange;
    }
}



.productName {
    text-align: center;
    letter-spacing: 2px;
}

@media only screen and (max-width: 900px) {
    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .productBox {
        .imgContainerTablet {
            display: block;
        }
        .imgContainer {
            display: none;
        }
    }
}

@media only screen and (max-width: 625px) {
    .headline {
        font-size: 1.5rem;
    }
    .productBox {
        width: 32%;
        h2 {
            font-size: 1.05rem;
        }

        a {
            font-size: .75rem;
            width: 99%;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 500px) {
    .container {
        margin: 5rem auto;
    }

    .headline {
        margin: 2rem auto;
    }
    .productFlexContainer {
        flex-direction: column;
    }

    .productBox {
        width: 100%;
        margin: 2rem auto;
        .imgContainerTablet {
            display: none;
        }
        .imgContainerMobile {
            display: block;
        }
        h2 {
            font-size: 1.5rem;
        }

        a {
            margin: .5rem auto;
            font-size: .75rem;
            width: 160px;
            text-align: center;
        }
    }
}